<div class="pin-infobox-container" data-latLng="{{latLng}}">

  <h2 class="pin-infobox-title">{{name}}</h2>

  {{#if description}}

    <div class="pin-infobox-description">
      <p>{{description}}</p>
    </div>

  {{/if}}

  <div class="trash-button-container">
    <button type="button" name="trash-button" class="trash-button"><i class="far fa-trash-alt"></i></button>
  </div>

</div>
