<div class="pin-infobox-readonly-container" data-latLng="{{latLng}}">
  <h2 class="pin-infobox-readonly-title">{{name}}</h2>
  <div class="trash-button-container">
    <button type="button" name="trash-button" class="trash-button"><i class="far fa-trash-alt"></i></button>
  </div>
</div>
