<tr class="modal-table-row">
    <td class="modal-table-checkboxes"><input type="checkbox" class="table-row-checkbox"></td>
    <td class="table-row-name">{{name}}</td>
    <td class="table-row-latitude">{{lat}}</td>
    <td class="table-row-longitude">{{lng}}</td>
</tr>
