<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PlaceKeeper</title>

    <!-- Fonts: ("Roboto" and "Roboto Slab"). -->
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:100" rel="stylesheet">

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/. -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">

    <!-- Include Handlebars from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" charset="utf-8" defer></script>

    <script src="/handlebarsPartials.js" charset="utf-8" defer></script>
    <script src="/index.js" charset="utf-8" defer></script>

    {{#if homePage}}
      <script src="/map.js" charset="utf-8" defer></script>

      <!-- API key is redacted in public releases -->
      <script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap&v=3.42.9" charset="utf-8" defer></script>
    {{/if}}

  </head>
  <body>

    <header>

      <h1 class="site-title">PlaceKeeper</h1>

      <div class="header-image-container"><img src="/img/thumbnail_placekeeper-header-icon.png" alt="PlaceKeeper"></div>

    </header>

    {{{body}}}

  </body>
</html>
