<main>
  <h1 id="about-info-box">About:</h1>
  <p id="about-info">PlaceKeeper is an embedded Google Maps tool that allows a user to place map pins in locations of their choice. These pins can be assigned names and description and will be saved into the server. Users will be able to download and import the maps they have created.</p>
  <h2 id="author-box">Authors:</h2>
  <ul id="authors">
      <li>Sean Thayer-Freeman: thayerfs@oregonstate.edu</li>
      <li>Blake Henry: henrybl@oregonstate.edu</li>
      <li>Jonathan Mather: matherj@oregonstate.edu</li>
      <li>Christian Herinckx: herincch@oregonstate.edu</li>
  </ul>
</main>
