<main>
  <div class="pin-select-container">
      <button type="button" id="select-pins-button">Select Pins</button>
    </div>
  <div class="content-container">
    <section class="map-container">
      <div id="map"></div>
    </section>

    <aside class="saved-places-container">

      <div class="search-bar-container">
        <div class="search-bar-element">
          <input type="text" class="search-bar-input">
        </div>
        <button class="search-bar-button">Search</button>
      </div>

      <div class="saved-places-list-container">
        <ul class="saved-places-list-element">

          <!-- Again, 'static_import' here is just passed as a simulated user triggered 'import' event for a map load -->
          {{#each static_import}}
            {{> savedPlaceEntry}}
          {{/each}}

        </ul>
      </div>

    </aside>

  </div>

</main>


<div id="modal-backdrop" class="hidden">
    <div id="select-pins-modal" class="hidden">
      <div class="modal-header">
        <h1>Saving Map</h1>
        <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
      </div>

      <div class="modal-search">

      </div>

      <div class="modal-description">
        <p>You're about to save the following locations:</p>
      </div>

      <div class="modal-body">
        <p>locations go here</p>
      </div>

      <div class="modal-footer">
          <button type="button" id="modal-cancel" class="modal-hide-button action-button">Close</button>
          <button type="button" id="modal-accept" class="action-button">Save</button>
      </div>

    </div>
</div>