<main>

  <div class="content-container">

    <section class="map-container">

      <div id="map"></div>

      <div class="import-and-save-buttons-container">

        <div class="import-map-element">
            <button type="button" class="import-map-button">Import Map</button>
        </div>

        <div class="save-map-element">
            <button type="button" class="save-map-button">Save Map</button>
        </div>

      </div>

    </section>

    <aside class="saved-places-container">

      <div class="search-bar-container">
        <div class="search-bar-element">
          <input type="text" name="filter-text" class="search-bar-input">
        </div>
        <button class="search-bar-button">Search</button>
      </div>

      <div class="saved-places-list-parent">

        <h5 class="saved-places-list-title">Saved Places</h5>

        <div class="saved-places-filter-info hidden">

        </div>

        <div class="saved-places-list-container">
          <ul class="saved-places-list-element">

          </ul>
        </div>

      </div>

    </aside>

  </div>

</main>

<div class="modal-backdrop import-modal hidden"></div>
<div class="modal-container import-modal hidden">

  <div class="modal-header">
    <h2 class="modal-title">Import Map</h2>
    <button type="button" class="modal-x-button">&times;</button>
  </div>

  <div class="modal-description">
    <p>Available Maps:</p>
  </div>

  <div class="modal-body import-modal">
    <div class="modal-directory-container">

    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="modal-close-button action-button">Close</button>
  </div>

</div>

<div class="modal-backdrop save-modal hidden"></div>
<div class="modal-container save-modal hidden">

  <div class="modal-header">
    <h2 class="modal-title">Saving Map</h2>
    <button type="button" class="modal-x-button">&times;</button>
  </div>

  <div class="modal-input-container">
    <h1 class="modal-input-text">Map Name:</h1>
    <div class="modal-input-element">
      <input type="text" class="modal-input">
    </div>
  </div>

  <div class="modal-description">
    <p>You're about to save the following locations:</p>
  </div>

  <div class="modal-body">
    <table class="modal-table">
      <tr class="modal-table-header">
        <th class="modal-table-checkboxes"><input type="checkbox" class="modal-table-select-all"></th>
        <th class="table-header-name">Pin Name</th>
        <th class="table-header-latitude">Latitude</th>
        <th class="table-header-longitude">Longitude</th>
      </tr>
    </table>
  </div>

  <div class="modal-footer">
    <button type="button" class="modal-save-button action-button">Save</button>
    <button type="button" class="modal-close-button action-button">Close</button>
  </div>

</div>
