.pin-infoform-title {
  text-align: center;
  margin: 5px;
}

.pin-infoform-name {
  font-family: 'Roboto';
}

.pin-infoform-description {
  font-family: 'Roboto';
  min-width: 210px;
  min-height: 60px;
  max-width: 210px;
  max-height: 60px;
}

.pin-infoform-buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 8px 12px 4px 12px;
}

.pin-infobox-title {
  text-align: center;
  margin: 5px 0px 5px 0px;
}

.pin-infobox-description {
  max-width: 208px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.trash-button {
  padding: 0;
}

.trash-button-container {
  height: 19px;
  margin-top: 10px;
  color: crimson;
  font-size: 12px;
  text-align: right;
}

.far.fa-trash-alt {
  margin: 0;
  color: crimson;
}

/* .saved-places-filter-info {
  display: inline-block;
  position: absolute;
  margin: 0;
  border: 1px solid black;
  border-top: 0;
  background: crimson;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: lighter;
} */

.filter-pin {
  display: inline-block;
  padding: 5px 0px 0px 5px;
}

.fas.fa-check-circle {
  margin-left: 5px;
  color: green;
}

.fas.fa-check-circle:hover {
  color: lightgreen;
}

.fas.fa-times-circle {
  margin-left: 5px;
}

.fas.fa-times-circle:hover {
  color: salmon;
}